.viewMore {
  display: flex;

  min-height: 112px;
}

.buttonMore {
  margin-left: auto;
  display: block;
  letter-spacing: -0.47px;
  color: #0062ff;
  font-size: 17px;
  background: #fff;
  border-left: 1px solid #707070;
  font-weight: 400;
  width: 100px;
  padding: 0 10px;
  text-align: left;
}
